.btn {
    width: 287px;
    height: 46px;
    background: #38A5DB;
    border-radius: 25px;
    border: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    color: #FFFFFF;
    transition: all .3s;
    &:hover {
        box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
    }
    &_w95 {
        width: 95px;
        font-size: 16px;
    }
    &_w220 {
        width: 220px;
        font-size: 16px;
    }
}