.footer {
    position: relative;
    min-height: 346px;
    padding: 29px 0 131px 0;
    background: linear-gradient(180deg, #FAFBFF 0%, #EFF1F9 41.68%, #E9ECF6 49.59%, #CED3E8 93.91%);
    z-index: 2;
    &__contacts {
        margin: 0 auto;
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 59px;
        width: 200px;
    }
    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.32px;
        color: #263396;
    }
    &__mail {
        position: relative;
        display: block;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.4px;
        color: #0F81FF;
        text-decoration: underline;
        &:hover {
            color: #0F81FF;
        }
    }
    &__button {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
    }
    &__links {
        position: absolute;
        bottom: 0;
        left: 0;
        max-height: 99px;
        width: 100%;
        display: grid;
        grid-template: repeat(2, 24px) / repeat(2, 136px);
        grid-gap: 16px;
        justify-content: center;
        background: #ffffff;
        padding: 16px 16px 19px;
    }
    &__link {
        font-weight: 400;
        min-width: 136px;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        color: #45515F;
        text-decoration: none;
        &:nth-child(2) {
            grid-area: 1 / 2;
        }
    }
}