.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    background: #FFFFFF;
    z-index: 100;
    &__wrapper {
        padding: 24px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}