@media (min-width: 768px) {
    .header {
        &__wrapper {
            padding: 16px 0 15px;
        }
    }
    .logo {
        width: 96px;
        height: 39px;
    }
    .menu {
        width: 217px;
        margin-right: 0;
    }
    .promo {
        padding: 198px 0 58px;
        background: url('../img/tablet_bg.svg') center (center / cover) no-repeat;
        &__title {
            width: 569px;
            height: 224px;
            font-size: 40px;
            line-height: 56px;
            br {
                content: ' ';
                &:after {
                    content: ' ';
                }
            }
        }
        &__subtitle {
            margin-top: 74px;
            font-size: 18px;
            line-height: 26px;
            margin-left: 0;
        }
        &__forms {
            position: relative;
            margin-top: 18px;
        }
        &__form {
            width: 100%;
            input {
                width: 603px;
            }
        }
        &__submit {
            margin-top: 0;
            top: 0;
            right: 7px;
            position: absolute;
            .btn {
                width: 154px;
            }
        }
        &__social {
            position: absolute;
            top: 785px;
            right: 15px;
            height: 92px;
            width: 40px;
            &-item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                span {
                    font-size: 22px;
                }
            }
        }
        &__goto {
            margin-top: 124px;
            width: 60px;
            height: 60px;
            font-size: 25px;

        }
    }
    .video {
        margin-top: 184px;
        width: 544px;
        height: 382px;
        &:after {
            width: 63px;
            height: 63px;

        } 
        &:before {
            right: -6px;
            top: 4px;
            border-width: 10px 0 10px 16px;
        }
    }
    .team {
        &__slider {
            &-modal {
                width: 270px;
            }
            margin-top: 30px;
            &-picture {
                width: 131px;
                height: 131px;
            }
            &-name {
                margin-top: 16px;
                font-size: 24px;
                line-height: 34px;
            }
            &-post {
                margin-top: 8px;
                font-size: 13px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 0.26px;
                color: #011226;
                opacity: 0.5;
            }
            &-text {
                margin-top: 16px;
                font-size: 18px;
                line-height: 24px;
            }
            &-links {
                margin-top: 32px;
            }
        }
    }
    .slick {
        &-dots {
            margin-top: 56px;
        }
    }
    .contactus {
        &__subtitle {
            font-size: 18px;
            line-height: 24px;
        }
    }
    .footer {
        padding: 40px 0 47px 0;
        min-height: unset;
        &__items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 59px;
        }
        &__contacts {
            margin: 0;
            margin-left: 116px;
        }
        &__button {
            margin: 0;
        }
        &__links {
            margin-top: 56px;
            padding: unset;
            height: 24px;
            position: static;
            display: grid;
            grid-template: 24px / repeat(4, minmax(167px, auto));
            grid-gap: unset;
            justify-content: center;
            background: unset;
        }
        &__link {
            padding: 0 7px;
            font-size: 18px;
            line-height: 24px;
            width: 100%;
            border-right: 2px solid #9CA4C7;
            &:last-child {
                border-right: unset;
            }
        }
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1168px;
        margin: 0 auto;
        padding: 0;

    }
    .promo {
        padding: 276px 0 172px;
        min-height: 1020px;
        background: url('../img/desctop_bg.svg') center (0 / cover) no-repeat;
        &__wrapper {
            margin: 0;
            max-width: 566px;
        }
        &__form {
            width: 100%;
            input {
                width: 100%;
            }
        }
        &__submit {
            right: 0;
        }
        &__social {
            position: fixed;
            top: 676px;
            right: 95px;
        }
    }
    .video {
        position: absolute;
        margin: 0;
        top: 196px;
        right: 62px;
    }
    .team {
        padding-bottom: 88px;
        &__slider {
            margin-top: 51px;
            display: flex;
            justify-content: space-between;
        }
    }
    .contactus {
        min-height: 670px;
        padding-bottom: 55px;
    }
    .footer {
        &__links {

            grid-template: 24px / repeat(4, minmax(200px, auto));
        }
        &__link {
            &:first-child {
                padding-right: 35px;
            }
        }
    }
}

@media (min-width: 1520px) {
    .promo {
        background: url('../img/desctop_bg.svg') center (20% / cover) no-repeat;
    }
}

@media (min-width: 2560px) {
    .promo {
        background: url('../img/desctop_bg.svg') center (49% / cover) no-repeat;
    }
}